# FastAPI related Dependencies
fastapi[all]~=0.85.0 # FastAPI framework, high performance, easy to learn, fast to code, ready for production
fastapi_utils~=0.2.1 # Reusable utilities for FastAPI, Repeated Tasks, APIModel, APISettings
Jinja2~=3.1.2 # A very fast and expressive template engine.
orjson~=3.8.0 # Fast, correct Python JSON library supporting dataclasses, datetimes, and numpy
pyinstrument~=4.3.0 # pyinstrument to check service performance.

# General Dependencies
autoflake~=1.6.1 # Removes unused imports and unused variables
flake8~=5.0.4 # modular source code checker: pep8 pyflakes and co
httpx~=0.23.0 # The next generation HTTP client.
isort~=5.10.1 # library to sort Python imports.
loguru~=0.6.0 # Python logging made (stupidly) simple
lxml~=4.9.1 # Powerful and Pythonic XML processing library combining libxml2/libxslt with the ElementTree API.
mypy~=0.971 # Optional static typing for Python
python-jose[cryptography]~=3.3.0 # SON Web Signature (JWS), JSON Web Encryption (JWE), JSON Web Key (JWK), and JSON Web Algorithms (JWA)
setuptools~=65.2.0 # Easily download, build, install, upgrade, and uninstall Python packages

# File Management related libs
aiofiles~=22.1.0 # handling local disk files in asyncio applications
python_magic~=0.4.27 # filetype and metadata detection

# Font related libs
fonttools~=4.37.3 # Tools to manipulate font files
matplotlib~=3.5.3 # Python plotting package

# Sysinfo related libs
gputil~=1.4.0 # Python module for getting the GPU status from NVIDA GPUs using nvidia-smi.
psutil~=5.9.2 # Cross-platform lib for process and system monitoring in Python.

# Scheduler
rocketry~=2.3.0 # Rocketry is a modern scheduling framework for Python applications
pytz~=2022.2.1 # World timezone definitions, modern and historical
redbird~=0.5.1 # Repository Patterns for Python

# Documentation related Libraries
black~=22.8.0 # Code formatter.
mkdocs~=1.3.1 # Project documentation with Markdown.
mkdocstrings~=0.19.0 # Automatic documentation from sources, for MkDocs.
mkdocstrings-python~=0.7.1 # A Python handler for mkdocstrings.
mkdocs-material~=8.4.4 # Material Design theme for MkDocs
mkdocs-gen-files~=0.4.0 # MkDocs plugin to programmatically generate documentation pages during the build
mkdocs-literate-nav~=0.4.1 # MkDocs plugin to specify the navigation in Markdown instead of YAML
mkdocs-section-index~=0.3.4 # MkDocs plugin to allow clickable sections that lead to an index page
mkdocs-page-pdf~=0.1.0 # Generate a PDF file for each MkDocs page and adds a download button
mkdocs-git-revision-date-localized-plugin~=1.1.0
Pygments~=2.13.0 # generic syntax highlighter
Markdown~=3.3.7 # implementation of Markdown.
mdx-include~=1.4.2 # Markdown extension to include local or remote files
